.card:hover
{
    transition: 0.50ms;
    box-shadow: 0 0 10px rgb(179, 179, 179), 0 0 20px rgb(179, 179, 179), 0 0 30px rgb(179, 179, 179), 0 0 40px rgb(179, 179, 179);
    -webkit-transition-delay: 0.50ms;
    transform: scale(1.1);
    border-radius: 20px;
    -webkit-transition-duration: 0.50ms;
}

